# platformio junk
.pio/
.pioenvs/
.piolibdeps/

# ignore all .vscode EXCEPT extensions.json
.vscode/*
!.vscode/extensions.json

# OS junk
.DS_Store
Thumbs.db

# Python venvs
venv/
.env/

# logs and backups
*.log
*.tmp
*.bak
*~
